<div class="mt-3">
  <%= link_to assets_path, class:"text-decoration-none" do %>
    <div class="d-flex">
      <i class="fas fa-chevron-left mt-1 mr-2"></i>
      <h4>Back</h4>
    </div>
  <% end %>
</div>
