.simple-calendar {
  // border: 1px solid red;
  a{
    border:1px solid black;
    padding:7px 25px;
    text-decoration: none;
    border-radius:30px;
    color:black;
    &:hover {
      text-decoration: none;
      color:black;
    }
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: white !important;

    strong{
      background-color: rgba(207, 27, 27,0.9);
      color: white;
      padding: 1px 4px;
      border-radius:50%;
    }
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
  .calendar-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    /* padding-top: 2rem; */
  }
  .calendar-title{
    font-weight: bold;
    font-size: 1.5rem;
  }

}

.red{
  color: red;
}

.font-right-small{
  font-size:0.7rem !important;
}

.red-bg{
  background-color: rgba(207, 27, 27,0.7);
  color: white;
}
