<div class="container mt-4">

  <%= month_calendar(events: payouts, attribute: :payout_date, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link) do |date, payouts| %>
    <strong><%= date.day %></strong>
    <hr class="m-0">

    <% payouts.each do |payout| %>
      <div>
        <%= humanized_money(payout.amount) %>
      </div>
    <% end %>
  <% end %>
</div>
