<div id="payouts_calendar">
  <%= render partial: "payouts", locals: {payouts: @payouts} %>
</div>
<script>
  $("#payouts_calendar").html("<%= escape_javascript render(partial: "payouts", locals: {payouts: @payouts}) %>");
</script>
<style>
  .simple-calendar {
    border: 1px solid red;
  }
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 2px solid black !important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
  .calendar-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    /* padding-top: 2rem; */
  }
  .calendar-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
.red-bg{
  background-color: rgba(207, 27, 27,0.7);
  color: white;
}

</style>
<script>

</script>
