<div class="container">
  <div class="mt-3">
    <%= link_to asset_bonds_path(@asset), class:"text-decoration-none" do %>
      <div class="d-flex">
        <i class="fas fa-chevron-left mt-1 mr-2"></i>
        <h4>Back</h4>
      </div>
    <% end %>
  </div>
</div>

<div id="payouts_calendar">
  <%= render partial: "payouts", locals: {payouts: @payouts} %>
</div>
<script>
  $("#payouts_calendar").html("<%= escape_javascript render(partial: "payouts", locals: {payouts: @payouts}) %>");
</script>
